@default-max-height: 9999px;

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --default-white: #E9EEF7;
  --default-black: #161B08;
  --default-light-white: #F1F6FF;
  --default-poor-blue-white: #ebf0ff;
  --default-dark-white: #E0E5ED;
  --default-half-gray: fade(#161B08, 66.7%);
  --default-white-groove: fade(#161B08, 27.5%);
  --default-black-groove: fade(#E9EEF7, 27.5%);
  --default-star: radial-gradient(50% 50%, rgba(0, 213, 255, 1) 0%, rgba(0, 26, 255, 0.01) 100%);
  --default-star-trails: linear-gradient(to right, rgba(0, 255, 221, 1) 0%, rgba(0, 161, 247, 1) 54%, rgba(0, 149, 255, 0.98) 78%, rgba(0, 98, 255, 0.25) 100%);

  --default-white-blue: #29A6FF;
  --default-white-red: #FC1414;
  --default-white-green: #15ED41;
  --default-white-yellow: #FFE600;
  --default-white-purple: #2934FF;

  --default-white-blue-rgb: red(#29A6FF) green(#29A6FF) blue(#29A6FF);
  --default-white-red-rgb: red(#FC1414) green(#FC1414) blue(#FC1414);
  --default-white-green-rgb: red(#15ED41) green(#15ED41) blue(#15ED41);
  --default-white-yellow-rgb: red(#FFE600) green(#FFE600) blue(#FFE600);
  --default-white-purple-rgb: red(#2934FF) green(#2934FF) blue(#2934FF);

  --default-black-blue: #296DFF;
  --default-black-red: #FC4714;
  --default-black-green: #0AFAB6;
  --default-black-yellow: #FFAA00;
  --default-black-purple: #4000FF;

  --default-black-blue-rgb: red(#296DFF) green(#296DFF) blue(#296DFF);
  --default-black-red-rgb: red(#FC4714) green(#FC4714) blue(#FC4714);
  --default-black-green-rgb: red(#0AFAB6) green(#0AFAB6) blue(#0AFAB6);
  --default-black-yellow-rgb: red(#FFAA00) green(#FFAA00) blue(#FFAA00);
  --default-black-purple-rgb: red(#4000FF) green(#4000FF) blue(#4000FF);

  --default-kug-gradient: linear-gradient(120.98deg, rgba(132, 78, 254, 1) 0%, rgba(233, 61, 117, 1) 100%);
}

@default-kug-gradient: linear-gradient(120.98deg, rgba(132, 78, 254, 1) 0%, rgba(233, 61, 117, 1) 100%);

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          local("HarmonyOS Sans SC"),
          local("HarmonyOS_Sans_SC_Regular"),
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf");
}

@font-face {
  // 由于部分字体还是太粗，所以设置一个特殊的font-weight，用来显示细的字体
  font-family: "HarmonyOS Sans SC";
  src:
          local("Microsoft YaHei UI Light"),
          local("微软雅黑 UI Light"),
          local("Microsoft YaHei Light");
  font-weight: 233;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  src:
          url("/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf");
  font-weight: 500;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--default-white);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--default-black);
  }
}

:root {
  --shadow-black: rgba(0, 0, 0, .2);
  --shadow-white: rgba(255, 255, 255, .8);

  --shadow-x-deviation: 1;
  --shadow-y-deviation: 1;

  --shadow-neg-x-deviation: -1;
  --shadow-neg-y-deviation: -1;

  --shadow-offset-x: .15em;
  --mini-shadow-offset-x: .07em;

  --shadow-offset-y: .15em;
  --mini-shadow-offset-y: .07em;

  --shadow-blur-radius: .15em;
  --mini-shadow-blur-radius: .07em;

  --shadow-spread-radius: 0;
  --mini-shadow-spread-radius: 0;

  --inset-bottom-right-white-shadow: calc(var(--shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-white) inset;
  --mini-inset-bottom-right-white-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-white) inset;

  --inset-top-left-black-shadow: calc(var(--shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-black) inset;
  --mini-inset-top-left-black-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-black) inset;

  --outset-top-left-white-shadow: calc(var(--shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-white);
  --mini-outset-top-left-white-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-white);

  --outset-bottom-right-black-shadow: calc(var(--shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-black);
  --mini-outset-bottom-right-black-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-black);

  --inset-top-left-white-shadow: calc(var(--shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-white) inset;
  --mini-inset-top-left-white-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-white) inset;

  --outset-bottom-right-white-shadow: calc(var(--shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-white);
  --mini-outset-bottom-right-white-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-white);

  --inset-bottom-right-black-shadow: calc(var(--shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-black) inset;
  --mini-inset-bottom-right-black-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-black) inset;

  --outset-top-left-black-shadow: calc(var(--shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-black);
  --mini-outset-top-left-black-shadow: calc(var(--mini-shadow-offset-x) * var(--shadow-neg-x-deviation)) calc(var(--mini-shadow-offset-y) * var(--shadow-neg-y-deviation)) var(--mini-shadow-blur-radius) var(--mini-shadow-spread-radius) var(--shadow-black);
}

.default-shadow-inset {
  box-shadow: var(--inset-bottom-right-white-shadow),
  var(--inset-top-left-black-shadow);
}

.default-shadow-mini-inset {
  box-shadow: var(--mini-inset-bottom-right-white-shadow),
  var(--mini-inset-top-left-black-shadow);
}

.default-shadow-outset {
  box-shadow: var(--outset-top-left-white-shadow),
  var(--outset-bottom-right-black-shadow);
}

.default-shadow-outset-reversed-only-black {  // 专门为了主页的footer准备的
  box-shadow:
          calc(var(--shadow-offset-x) * var(--shadow-neg-x-deviation) * -1)
          calc(var(--shadow-offset-y) * var(--shadow-neg-y-deviation))
          var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-black);
}

.default-shadow-mini-outset {
  box-shadow: var(--mini-outset-top-left-white-shadow),
  var(--mini-outset-bottom-right-black-shadow);
}

.default-shadow-inset-outset {
  box-shadow: var(--inset-bottom-right-white-shadow),
  var(--inset-top-left-black-shadow),
  var(--outset-top-left-white-shadow),
  var(--outset-bottom-right-black-shadow);
}

.default-shadow-mini-inset-outset {
  box-shadow: var(--mini-inset-bottom-right-white-shadow),
  var(--mini-inset-top-left-black-shadow),
  var(--mini-outset-top-left-white-shadow),
  var(--mini-outset-bottom-right-black-shadow);
}

.default-shadow-selected-all-light {
  box-shadow: var(--inset-bottom-right-white-shadow),
  var(--inset-top-left-white-shadow),
  var(--outset-top-left-white-shadow),
  var(--outset-bottom-right-white-shadow);
}

.default-shadow-mini-selected-all-light {
  box-shadow: var(--mini-inset-bottom-right-white-shadow),
  var(--mini-inset-top-left-white-shadow),
  var(--mini-outset-top-left-white-shadow),
  var(--mini-outset-bottom-right-white-shadow);
}

.default-shadow-active-all-dark {
  box-shadow: var(--inset-bottom-right-black-shadow),
  var(--inset-top-left-black-shadow),
  var(--outset-top-left-black-shadow),
  var(--outset-bottom-right-black-shadow);
}

.default-shadow-mini-active-all-dark {
  box-shadow: var(--mini-inset-bottom-right-black-shadow),
  var(--mini-inset-top-left-black-shadow),
  var(--mini-outset-top-left-black-shadow),
  var(--mini-outset-bottom-right-black-shadow);
}

:root {
  // 用于大块的
  --default-border-radius: 2em;
  --default-half-border-radius: calc(var(--default-border-radius)/2);
  // 由于细致小块的
  --mini-default-border-radius: .5em;
  --mini-default-half-border-radius: calc(var(--mini-default-border-radius)/2);

  // 叶形（左上右下圆角），用于大块
  --default-leaf-border-radius: var(--default-border-radius) / var(--default-border-radius) 0;
  // 叶形（左上右下圆角），用于小块
  --mini-default-leaf-border-radius: var(--mini-default-border-radius) / var(--mini-default-border-radius) 0;
  // 叶形半（左上右下圆角），用于大块
  --default-half-leaf-border-radius: var(--default-half-border-radius) / var(--default-half-border-radius) 0;
  // 叶形半（左上右下圆角），用于小块
  --mini-default-half-leaf-border-radius: var(--mini-default-half-border-radius) / var(--mini-default-half-border-radius) 0;
}

.use-border-radius {
  border-radius: var(--default-border-radius);
}

.use-mini-border-radius {
  border-radius: var(--mini-default-border-radius);
}

.use-half-border-radius {
  border-radius: var(--default-half-border-radius);
}

.use-mini-half-border-radius {
  border-radius: var(--mini-default-half-border-radius);
}

.use-leaf-border-radius {
  border-radius: var(--default-leaf-border-radius);
}

.use-mini-leaf-border-radius {
  border-radius: var(--mini-default-leaf-border-radius);
}

.use-half-leaf-border-radius {
  border-radius: var(--default-half-leaf-border-radius);
}

.use-mini-half-leaf-border-radius {
  border-radius: var(--mini-default-half-leaf-border-radius);
}

:root {
  --default-border: 2px solid var(--default-white-groove);
  --default-mini-border: 1px solid var(--default-white-groove);
}

.use-default-border() {
  border: var(--default-border);
}

.use-default-mini-border() {
  border: 1px fade(#161B08, 3.33%) solid;
}

body {
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "HarmonyOS Sans SC",
    "Microsoft YaHei UI Light",
    "Microsoft YaHei UI",
    "微软雅黑 UI Light",
    "微软雅黑",
    -apple-system,
    BlinkMacSystemFont,
    Ubuntu,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0 auto;
}

* {
  //transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

// 强制触发less计算
.c(@param) { @return: @param; }

.use-default-hover {
  &:hover {
    opacity: .85;
  }
}

.use-default-active {
  &:active {
    background-color: var(--default-dark-white);
    .default-shadow-mini-inset();
  }
}

.use-ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.use-default-transition() {
  transition: all 0.2s ease-in-out;
}

.disable-list-style() {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.disable-browser-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::scrollbar {
    display: none;
  }

  &::scrollbar-thumb {
    display: none;
  }

  scrollbar-width: none;
}